@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
header {
    width: 100%;
    height: 180px;
    z-index: 2;
    position: relative;
}
header .container {
	position: absolute;
}
header .header-gray {
	background-color: #CDCDCD;
	height: 40px;
}
header .header-gray li {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}
header .header-gray .brasil {
	background-position: 0px 0px;
}
header .header-gray .servicos {
	background-position: -48px 0px;
}
header .header-gray .participe {
	background-position: -95px 0px;
}
header .header-gray .informacao {
	background-position: -140px 0px;
}
header .header-gray .legislacao {
    background-position: -189px 0px;
}
header .header-gray .canais {
    background-position: -239px 0px;
}
header .header-gray .vlibras {
    background-position: -288px 0px;
}
header .header-gray a {
    width: 64px;
    height: 64px;
    display: inline;
    margin-left: 148px;
    margin-right: 8px;
}
header #logotipo {
    position: absolute;
    top: 35px;
    left: 39px;
    z-index: 2;
}
#menu {
    margin: 12px 0;
}
.dropdown-menu {
    color: #000;
    background-color: #03C9A9;
}
#menu li {
    display: block;
    font-family: "OpenSans";
}
#menu li.search {
    width: 182px;
    transition-duration: 1s;
}
#menu li.search.ativo {
    width: 300px;
}
#menu li.search input {
    background-color: #fff;
    color: #000;
    border: none;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    z-index: 3;
}

#menu li.search.ativo input {
    width: 200px;
}

#menu li.search ::-webkit-input-placeholder {
	color: #C0C0C0;	
}
#menu li.search button {
    background: none;
    border: none;
    position: absolute;
    right: 3px;
    top: 7px;
}
#menu li.search button i {
    font-size: 14px;
    color: #C0C0C0;
}
#menu li a {
    color: #FFF;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: bold;
}
#menu li a:hover {
    color: blue;
}
#menu li.search .input-group {
    top: 8px;
}
#banner {
    width: 100%;
    height: 142px;
    position: relative;
    background-image: url(../img/cabecalho.jpg);
    top: -160px;
    
}

#banner img {
    top: 100px;
    position: relative;
    margin-left: 1240px;
    z-index: 2;
}

header .pull-right {
    margin-top: 3px;
    margin-right: 688px;
}
#edicoes {
    position: relative;
    top: -110px;
}

#edicoes h2 {
    color: #1BA39C;
    font-family: 'OpenSans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

#edicoes hr {
    border: #03C9A9  solid 8px;
    width: 200px;
    margin: 0 auto;
}

#publicacoes {
    position: relative;
    top: -110px;
}

#publicacoes h2 {
    color: #1BA39C;
    font-family: 'OpenSans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

#publicacoes hr {
    border: #03C9A9  solid 8px;
    width: 200px;
    margin: 0 auto;
}

#publicacoes .thumbnails {
	margin-top: 20px;
}

#publicacoes .thumbnails h3 {
    color: #000;
    font-size: 18px;
    font-family: 'OpenSans';
    font-weight: bold;
    margin-bottom: 0;
}

#publicacoes .thumbnails time {
    color: #A7A7A7;
    font-size: 18px;
    font-family: 'OpenSans';
}

#publicacoes .thumbnails .item-inner {
    padding: 10px;
}

#publicacoes .thumbnails .item-inner img {
    padding: 10px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner > .item > .carousel-caption > h3, time {
    color: #000;
}

#sobre_radar {
    background-color: #68C3A3;
    width: 100%;
    height: 170px;
    text-align: center;
}

#sobre_radar p {
    color: #000;
    font-size: 22px;
    font-family: 'OpenSans-Light';
    text-transform: uppercase;
    margin-top: 36px;
}

#sobre_radar p small {
    color: #fff;
    font-size: 18px;
    display: block;
}

#call-to-action {
    text-align: center;
    margin-top: 105px;
}

#call-to-action h2 {
    color: #1BA39C;
    font-family: 'OpenSans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

#call-to-action hr {
    border: #03C9A9  solid 8px;
    width: 200px;
    margin: 0 auto;
}

#call-to-action p {
    color: #A7A7A7;
    margin-top: 60px;
    margin-bottom: 40px;
}

footer {
    margin-top: 110px;
}

footer .row {
    width: 100%;
}

footer .row p {
    line-height: 30px;
    margin-bottom: -22px;
    margin-left: 211px;
    margin-top: 15px;
    margin-right: 5px;
    color: #000;
}

footer .row-verde_silver_tree {
    height: 203px;
    width: 1678px;
    background-color: #68C3A3;
}

footer .row-caribbean_green {
    height: 60px;
    width: 1678px;
    background-color: #03C9A9;
    border-top: #242D37 1px solid;
}

footer .center-block {
    font-family: 'OpenSans';
    font-size: 14px;
    color:#666;
}

footer .col-mais-acessados, .col-links, .col-contatos {
    margin-top: 20px;
}

footer .row h4 {
    font-family: 'OpenSans';
    font-size: 16px;
    color:#FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}

footer .row h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .col-links a {
    color: #000;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links .fa {
    margin: 0 6px;
}

footer .col-contatos address {
    color: #000;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 6px;
}

footer .col-contatos address span {
    display: inline-block;
    margin-top: -20px;
    margin-left: 27px;
}

footer .col-contatos address i {
    position: relative;
    top: 11px;
}

footer .col-contatos i {
    color: #000;
    font-size: 20px;
    margin: 0 6px;
}

footer .col-contatos a {
    color: #000;
    margin-top: 63px;
    margin-left: 15px;
    margin-right: -14px;
}

footer .col-contatos p {
    margin-top: -6px;
    margin-left: -17px;
}

footer .col-contatos .list-socials {
    margin-top: -62px;
    margin-left: 20px;
}

footer .list-socials li {
    display: inline-block;
    margin-right: 8px;
}

footer .list-socials a {
    display: block;
    border: #000 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}

footer .list-socials i {
    font-size: 16px;
    margin: 7px auto;
}

