/* 
    Created on : 12/04/2017, 10:57:23
    Author     : B2681739
*/

/* Tamanho padrão para tablets */
@media only screen and (max-width: 768px) {
    
    header #logotipo {
        left: 0% !important;
        transition: 1s;
        
    }
    header .pull-right {
        margin-top: 29px;
        margin-right: 0;
    }
    #menu li a {
        font-size: 15px;
        padding: 12px 20px;
    }
    .carousel {
        z-index: 1;
    }
    #opcoesOrdenar {
        margin: 25px;
        margin-right: 0px;
        width: 100%;
    }
    #sobre_radar {
        height: inherit;
        width: 100%;
    }
    #banner img {
        top: 100px;
        position: relative;
        margin-left: 598px;
        z-index: 2;
    }
    #menu-mobile-2 {
        margin-top: 176px;
    }
    #video- {
        max-width: 100%;
        max-height: inherit;
    }
    #call-to-action p{
        font-size: 25px;
    }
    #call-to-action time {
        font-size: 25px;
    }
    .panel-title {
        font-size: 32px;
        margin-left: 195px;
    }
    .panel-body {
        font-size: 28px;
    }
    footer .row-verde_silver_tree {
        width: 102%;
        height: inherit;
    }
    footer .row-caribbean_green {
        width: 102%;
    }
    footer .row-caribbean_green p {
        margin-top: 15px;
        margin-left: 20px;
    }
    footer .list-socials a {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }
    footer .list-socials i {
        font-size: 72px !important;
        margin: 18px !important;
    }
    footer .col-links a {
        font-size: 28px;
    }
    footer .row {
        width: 102%;
    }
    footer .row h5 {
        font-size: 28px;
    }
    footer .row time {
        font-size: 28px;
    }
    footer .row h4 {
        font-size: 32px;
    }
    footer .col-contatos i {
        font-size: 40px;
        margin: 0px 0px;
    }
    footer .col-contatos a {
        font-size: 30px;
        margin-left: 60px;
        margin-right: -30px;
        margin-top: 75px;
    }
    footer .col-contatos address {
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    footer .col-contatos address span {
        margin-left: 50px;
    }
    footer .row-caribbean_green p {
        margin-left: 90px;
        font-size: 23px;
    }
        
}

/* Tamanho padrão para smartphones */
@media only screen and (max-width: 480px) {
    
    .header-gray .container {
        display: none;
    }
    
    .header-gray #br, #ser, #part, #inf,#leg,#canais,#vlibr,#menu {       
        display: none; 
    }
    
    header #logotipo {
        left: 10% !important;
        z-index: 10;
        transition: 1s;
    }
    header.open-menu #logotipo {
        transform: rotate(360deg);
    }
    #btn-bars, #btn-search {
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 4px;
        background: none;
        border: none;
        display: block !important;
    }
    #btn-bars {
        left: 4px;
    }
    #btn-search {
        right: 4px;
    }
    #banner {
        height: 158px;
        background-position: 0;
    }
    #banner img {
        display: none;
    }
    .item img {
        max-width: 250px;
        max-height: 356px;
        
    }
    #sobre_radar {
        height: inherit;
        width: 100%;
    }
    
    #video- {
        max-width: 90%;
        max-height: inherit;
    }
    footer .row-verde_silver_tree {
        width: 104%;
        height: inherit;
    }
    
    footer .row h5 {
        font-size: 14px;
    }
    footer .row time {
        font-size: 14px;
    }
    footer .row h4 {
        font-size: 16px;
    }
    footer .col-contatos i {
        font-size: 20px;
        margin: 10px 16px;
    }
    footer .col-contatos a {
        font-size: 15px;
        margin-left: 60px;
        margin-right: -30px;
        margin-top: 75px;
    }
    footer .col-contatos p {
        margin-left: -62px;
    }
    footer .col-contatos address {
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    footer .col-contatos address span {
        margin-left: 50px;
    }
    footer .col-links a {
        font-size: 14px !important;
    }
    
    footer .row-caribbean_green {
        width: 104%;
        height: 74px;
    }
    footer .row-caribbean_green p {
        margin-top: 15px !important;
        margin-left: 20px !important;
        font-size: 20px !important;
    }
    footer .col-contatos .list-socials {
        display: inline-flex;
        margin: -30px;
        margin-bottom: 40px;
    }
    footer .list-socials a {
        width: 48px !important;
        height: 48px !important;
        border-radius: 50% !important;
    }
    footer .list-socials i {
        font-size: 22px !important;
        margin: 5px !important;
    }
    #publicacoes h2 {
        font-size: 32px;
    }
    #publicacoes hr {
        border-width: 4px;
    }
    
    #call-to-action h2 {
        font-size: 32px;
    }
    #call-to-action hr {
        border-width: 4px;
    }
    #call-to-action p, time {
        margin-top: 35px;
        margin-bottom: 18px;
        font-size: 18px;
    }
    header .header-gray {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
    }
    header #menu-mobile {
        position: fixed;
        top: 40px;
        background-color: #03C9A9;
        width: 80%;
        height: 80%;
        left: -80%;
        transition: 1s;
    }
    header.open-menu #menu-mobile {
        left:0;
        z-index: 1;
    }
    header.open-menu #menu-mobile-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
    #btn-menu-2 {
        border: none;
        width: 158px;
        height: inherit;
    }
/*    .panel-collapse.collapse in #menu-mobile-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: -1;
    }*/
    header.open-menu #logotipo {
        position: fixed;
        top: 40px;
        height: 76px;
        left: calc(40% - 33px);
    }
    .carousel-indicators {
        z-index: 1;
    }
    header.open-menu #menu-mobile ul{
        margin: 20px;
        margin-top: 100px;
        z-index: 6;
    }
    header.open-menu #menu-mobile li {
        text-align: center;
        border-top: #CCC 1px solid;
    }
    header.open-menu #menu-mobile li:last-child {
        border-bottom: #CCC 1px solid;
    }
    header.open-menu #menu-mobile li a {
        color: #FFF;
        font-family: 'OpenSans';
        font-weight: bold;
        font-size: 16px;
        padding: 18px;
        display: block;
    }
    header.open-menu .bar-close {
        position: absolute;
        bottom: 0px;
        background-color: #FFF;
        height: 40px;
        width: 100%;
    }
    header.open-menu .bar-close .btn-close {
        background: none;
        border: none;
        color: #03c9a9;
        font-size: 22px;
        
    }
    .panel-footer {
        background-color: #CDCDCD;
    }
    .panel-footer .btn-close {
        background: none;
        border: none;
        color: #03c9a9;
        font-size: 22px;
        height: 40px;
    }
    header #input-search-mobile{
        transition: 1s;
        top: -40px;
        position: fixed;
        width: 70%;
        left: 15%;
        background-color: #FFF;
        border: none;
        height: 40px;
        color: #000;
        outline: 0;
    }
    header.open-search #input-search-mobile {
        top: 0;
        
    }
    header.open-search #logotipo {
        z-index: 9;
    }
    .page-up {
        display: inherit;
    }
    .dropdown-menu {
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
    }
    header.open-menu #menu-mobile ul{
        margin-left: 56px;
        margin-top: 86px;
    }
    #opcoesOrdenar {
            margin: 25px;
            margin-right: 0px;
            width: 100%;
    }
    #edicoes h2 {
        font-size: 32px;
    }
    #edicoes hr {
        border-width: 4px;
    }
    .col-md-7 {
        left: 26px;
        padding: 88px;
    }
    .owl-controls .owl-prev, .owl-next {
        display: none;
    }
    #btn-artigo-prev, #btn-artigo-next {
        background: none;
        border: none;
        color: #03c9a9;
        font-size: 48px;
        display: block;
        position: absolute;
        top: 389px;
        z-index: 1;
        outline: 0;
    }
    #btn-artigo-next {
        left: 288px;
    }
    #btn-artigo-prev {
        left: 45px;
    }
    #btn2-artigo-prev, #btn2-artigo-next {
        background: none;
        border: none;
        color: #03c9a9;
        font-size: 48px;
        display: block;
        position: absolute;
        top: 860px;
        z-index: 1;
        outline: 0;
    }
    #btn2-artigo-next {
        left: 288px;
    }
    #btn2-artigo-prev {
        left: 45px;
    }
    
        
    
    
    
}

