/* 
    Created on : 12/04/2017, 10:57:23
    Author     : B2681739
*/

/* Tamanho padrão para tablets */
@media only screen and (max-width: 768px) {

    .header-gray a {
        display: none;
    }
        
}

/* Tamanho padrão para smartphones */
@media only screen and (max-width: 480px) {
    
    header .header-gray #br {       
        display: none; 
    }
    
    header .header-gray #ser {
        display: none;
    }
    
    header .header-gray  #part {
        display: none;
    }
    
    header .header-gray #inf {
        display: none;
    }
    header .header-gray #leg {
        display: none;
    }
    
    header .header-gray #canais {
        display: none;
    }
    
    header .header-gray #vlibr {
        display: none;
    }
    
    header #menu {
        display: none;
    }
    
    header #logotipo {
        left: 32%;
        z-index: 10;
	transition: 1s;
    }
    
}

