<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Boletim Radar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width:device-width, initial-scale=1">
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/folha_estilo_ipea.css">
        <link rel="stylesheet" href="../css/ipea-mobile.css">
    </head>
    <body>
        
        <header>
			
            <div class="container">
                <a href="../index_CarouselBootStrap.html"><img id="logotipo" src="../img/logo_radar.png" alt="Logotipo Radar"></a>
            </div>

            <div class="header-gray">
                
                <button id="btn-bars" type="button"><i class="fa fa-bars"></i></button>
                <button id="btn-search" type="button"><i class="fa fa-search"></i></button>
                
                <div class="container">
                    
                    <a id="br" href="http://brasil.gov.br/">Brasil</a>
                    <a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil">Serviços</a>
                    <a href="http://brasil.gov.br/barra#participe">Participe</a>
                    <a href="http://brasil.gov.br/barra#acesso-informacao">Acesso à Informação</a>
                    <a href="http://www.planalto.gov.br/legislacao">Legislação</a>
                    <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais">Canais</a>
                    <a href="http://www.vlibras.gov.br/"><i class="fa fa-sign-language"></i>VLibras</a>
                
                <!--                    <ul class="pull-right">
                        <li class="br"><a href="http://brasil.gov.br/">Brasil</a></li>
                        <li class="ser"><a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil">Serviços</a></li>
                        <li class="participe"><a href="http://brasil.gov.br/barra#participe">Participe</a></li>
                        <li class="informacao"><a href="http://brasil.gov.br/barra#acesso-informacao">Acesso à Informação</a></li>
                        <li class="legislacao"><a href="http://www.planalto.gov.br/legislacao">Legislação</a></li>
                        <li class="canais"><a href="http://brasil.gov.br/barra#orgaos-atuacao-canais">Canais</a></li>
                        <li class="vlibras"><a href="http://www.vlibras.gov.br/"><i class="fa fa-sign-language"></i>VLibras</a></li>
                    </ul> -->
                
                </div>

            </div>

            <div class="pull-right">

                <ul id="menu" class="nav nav-pills">
                    <li role="presentation"><a href="../index_CarouselBootStrap.html">Início</a></li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Temas<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                                <li><a href="agricultura.html">Agricultura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="ciencia_tecnologia.html">Ciência, Tecnologia e Inovação</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Comércio Exterior</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Educação</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Indústria</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="radarPDF.html">Radar PDF</a></li>
                    <li role="presentation" class="search">
                        <div class="input-group">
                            <input type="search" placeholder="Pesquisar" id="input-search">
                            <span class="input-group-btn">
                                <button type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </li>
                </ul>

            </div>			

	</header>

        
        <section>
            
            <div id="banner">
                <a href="http://www.ipea.gov.br/" target="_blank">
                    <img src="../img/logo_ipea.png" alt="Logo do IPEA">
                </a>
            </div>
            
            <div id="edicoes" class="container">
                
                <div class="row text-center">
                    <h2>Ciência, Tecnologia e Inovação</h2>
                    <hr>
                </div>
                
                <br><br>
                
                <div class="panel-group" id="opcoesOrdenar" role="tablist" aria-multiselectable="true">
                    
                    <div class="panel panel-success">
                        
                        <div class="panel-heading" role="tab" id="headingOne">
                            
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#opcoesOrdenar" href="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                       04/12/2016   |   Financiamento à Pesquisa no Reino Unido: o Dual Support System
                                </a>
                            </h4>
                            
                        </div>
                        
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            
                            <div class="panel-body">
                                
                                Em 2014-2015, cerca de 2,27 milhões de estudantes estudavam em instituições de ensino superior no Reino Unido. Contando com aproximadamente 1% da população mundial, o Reino Unido congrega 4% dos pesquisadores, 3,2% dos gastos em pesquisa e desenvolvimento (P&D) e produz 16% dos artigos mais citados em periódicos influentes.5 Avaliações de impacto estimaram que as universidades do país geraram mais de £ 39 milhões para o produto interno bruto (PIB) do país em 2011-2012, o equivalente a 2,8% do produto e £ 10,7 bilhões de receitas de exportação. Por mais que tais resultados decorram de uma gama de fatores, o sistema de financiamento da pesquisa universitária, conhecido como dual-support system, é amplamente considerado pelos policymakers e pela comunidade acadêmica um dos pilares da robustez do sistema de inovação do Estado.

Autoras: Flávia de Holanda Schmidt Squeff e Fernanda De Negri
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="panel panel-success">
                        
                        <div class="panel-heading" role="tab" id="headingTwo">
                            
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#opcoesOrdenar" href="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                       04/12/2016   |   Dispêndios do Governo Federal em C&T e P&D: esforços e perspectivas recentes
                                </a>
                            </h4>
                            
                        </div>
                        
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            
                            <div class="panel-body">
                                
                                O Manual de Frascati, da Organização para a Cooperação e o Desenvolvimento Econômico (OCDE), referência  metodológica para o cálculo dos dispêndios em ciência e  tecnologia  (C&T), pesquisa  e desenvolvimento (P&D) e atividades científicas e técnicas correlatas, coloca esses indicadores de dispêndios como uma das principais medidas de esforço de um país para o desenvolvimento e implantação de sua Política Nacional de Ciência, Tecnologia e Inovação, sendo destaques os dispêndios públicos em P&D como percentagem do produto interno bruto (PIB).

Para se ter uma ideia da importância dessa medida, em especial para o Brasil, em 2013, Alemanha teve 2,83% de dispêndios nacionais em P&D em relação ao PIB, sendo 0,82% do PIB de dispêndios públicos em P&D; Estados Unidos tiveram 2,74% de dispêndios nacionais em P&D em relação ao PIB, sendo dispêndios públicos em P&D, 0,76% do PIB; Japão apresentou 3,48% de dispêndios nacionais em P&D, como percentagem do PIB, sendo 0,60% de dispêndios públicos em P&D; o Brasil, por sua vez, teve 1,24% de dispêndios nacionais em P&D em relação ao PIB, dos quais 0,71% de dispêndios públicos em P&D, sendo que 0,50% foram dispêndios do governo federal em P&D (OCDE, 2016) e (MCTI, 2015).

Autores: Priscila Koeller, Renato Baumgratz Viotti e André Rauen
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="panel panel-success">
                        
                        <div class="panel-heading" role="tab" id="headingThree">
                            
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#opcoesOrdenar" href="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                       04/12/2016   |   Evolução das Ações e Programas da Finep no Apoio à Inovação Empresarial - 2003-2014
                                </a>
                            </h4>
                            
                        </div>
                        
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            
                            <div class="panel-body">
                                
                                Não obstante o Brasil ainda se encontrar distante das realizações dos países que têm avançado em direção à fronteira tecnológica mundial, os últimos 20 anos assistiram a avanços relevantes nas políticas de inovação tecnológica no país. A partir de 1994, registra-se a criação, na Finep, do Programa de Desenvolvimento Tecnológico Industrial (PDTI) e do Programa de Desenvolvimento Tecnológico Agropecuário (PDTA). Em 1998, foi instituído o primeiro Fundo Setorial de Ciência e Tecnologia (Petróleo e Gás – CT-Petro), que inaugurou uma série de outros fundos, criados entre 2000 e 2004, que buscaram garantir o aumento e a estabilidade de recursos financeiros para Pesquisa, Desenvolvimento e Inovação (PD&I) no setor produtivo.

Na década seguinte, com a Política de Inovação Tecnológica e de Comércio Exterior (PITCE), em 2004, o Brasil passou a contar com diretrizes para a construção de um sistema mais integrado e coerente para a indução da inovação nas empresas nacionais. A PITCE orientou as aplicações setoriais de recursos da Finep e definiu prioridades para algumas linhas de apoio à inovação do Banco Nacional de Desenvolvimento Econômico e Social (BNDES) (Morais, 2008 b).

Autores: João Alberto de Negri e José Mauro de Morais
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            
        </section>
        
        <footer>
            
            <div class="row row-verde_silver_tree">
                
                <div class="container">
                    
                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="col-md-4 col-mais-acessados">
                                
                                <h4>Mais Acessados</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <h5>Neque porro quisquam est, quister.</h5>
                                        <time>January 01, 2016</time>
                                    </li>
                                    <li>
                                        <h5>Neque porro quisquam est, quister.</h5>
                                        <time>January 01, 2016</time>
                                    </li>
                                </ul>
                                
                            </div>
                            
                            <div class="col-md-4 col-links">
                                
                                <h4>LINKS</h4>
                                <ul class="list-unstyled">
                                    <li><a href="http://www.ipea.gov.br" target="_blank"><i class=" fa fa-angle-right"></i>IPEA</a></li>
                                    <li><a href="temasRadar.html"><i class="fa fa-angle-right"></i>Temas</a></li>
                                    <li><a href="radarPDF.html"><i class="fa fa-angle-right"></i>Radar PDF</a></li>
                                </ul>
                                
                            </div>
                            
                            <div class="col-md-4 col-contatos">
                                
                                <h4>CONTATOS</h4>
                                
                                <address>
                                    <i class="fa fa-map-marker"></i> <span>Ipea - Brasília <small>SBS - Quadra 1 - Bloco J - Ed. BNDES 70076-900 - Brasília - DF - Brasil</small></span>
                                </address>
                                
                                <p><a href="06120265422"><i class="fa fa-phone"></i>(61)2026-5422</a></p>
                                
                                <ul class="list-unstyled list-socials">
                                    
                                    <li>
                                        <a href="https://www.facebook.com/IPEA1964" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://twitter.com/ipeaonline" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://www.youtube.com/user/agenciaipea" target="_blank"><i class="fa fa-youtube"></i></a>
                                    </li>
                                    
                                </ul>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="row row-caribbean_green">
                
                <div class="container">
                    
                    <p class="center-block">Copyright © 2017 Sites Ipea. Todos os direitos reservados.</p>
                    
                </div>
                
            </div>
            
        </footer>
        
        <script src="../lib/jquery/jquery.min.js"></script>
        <script src="../lib/owl.carousel/owl.carousel.min.js"></script>
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../lib/js/efeitos.js"></script>
        
    </body>
</html>
